html, body {
  margin: 0;
  padding: 0;
  background: #24292e;
  text-align: center;

  font-family: sans-serif;
  color: #ededed;
  line-height: 1.2;
}

.hide {
  display: none;
}

.text {
  text-align: left;
  margin: 5px 20px;
}

.recorder {
  font-size: 3em;
  margin: 20px;

  color: #24292e;
  background-color: #abd64d;
  outline: none;
  border: none;

  width: 300px;
  height: 300px;
  width: 60vw;
  height: 60vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 300px;
}

.recorder.active {
  background-color: #d64c4f;
}

.code {
  font-family: monospace;

  text-align: left;
  padding: 10px 20px;
}

.code p {
  margin: 0;
}

.code p.error {
  color: #d64c4f;
}
