html, body {
  margin: 0;
  padding: 0;
  background: #CF7AE2;
  text-align: center;
}

button {
  font-size: 3em;
  margin: 20px;

  color: #333;
  background-color: #C1E279;
  outline: none;
  border: none;

  width: 60vw;
  height: 60vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 300px;
}
