html, body {
  margin: 0;
  padding: 0;
  background: #24292e;
  text-align: center;
}

button {
  font-size: 3em;
  margin: 20px;

  color: #24292e;
  background-color: #abd64d;
  outline: none;
  border: none;

  width: 300px;
  height: 300px;
  width: 60vw;
  height: 60vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 300px;
}
